.container {
  gap: 1.5rem;
  display: inline-block;
}

.empty {
  color: #444;
  font-size: 1.25rem;
}

.postBtn {
  display: inline-block;
  margin-top: 2rem;
}

.loadingWrapper {
  display: flex;
  height: 100px;
  margin: 1rem auto;
}

.loadingWrapper p {
  text-align: center;
  margin: auto;
  color: #888;
}
